/ChatBot/.vs/
/ChatBot/Collections/bin/
/ChatBot/Collections/obj/
/ChatBot/ChatBot/bin/
/ChatBot/ChatBot/obj/
/ChatBot/Files/bin/
/ChatBot/Files/obj/
/ChatBot/Exceptions/bin/
/ChatBot/Exceptions/obj/
/ChatBotCore/.vs/
/ChatBotCore/Exceptions/bin/
/ChatBotCore/Exceptions/obj/
/ChatBotCore/ChatBot/bin/
/ChatBotCore/ChatBot/obj/
/.vs/
/ChatBotCore/ChatBotNew/bin/
/ChatBotCore/ChatBotNew/obj/
